In [64]:
import pandas as pd

#my_data.csv 읽어오기
df = pd.read_csv('my_data.csv')

#Unnamed: 0 이름 변경
df.rename(columns = {'Unnamed: 0':'index'}, inplace = True)

print(df)

   index     name  age  salary
0      0    Alice   25   50000
1      1      Bob   30   60000
2      2  Charlie   35   70000
3      3    james   30  400000
4      4    Alice   25   50000
5      5      Bob   30   60000
6      6  Charlie   35   70000
7      7    james   30  400000

In [65]:
#Unnamed: 0 이름 변경 열 삭제
df.drop(columns={'index'}, axis='columns', inplace=True)

print(df)

      name  age  salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    james   30  400000
4    Alice   25   50000
5      Bob   30   60000
6  Charlie   35   70000
7    james   30  400000

In [68]:
#영문 이름 변경
df['name'] = ['엘리스','밥','찰리','제임스','엘리스','밥','찰리','제임스']

print(df)

  name  age   salary
0  엘리스   25   50,000
1    밥   30   60,000
2   찰리   35   70,000
3  제임스   30  400,000
4  엘리스   25   50,000
5    밥   30   60,000
6   찰리   35   70,000
7  제임스   30  400,000

In [67]:
# 급여 숫자를 000 세자리 단위로 콤마를 넣어서 변경
df['salary'] = df['salary'].map('{:,.0f}'.format)

print(df)

  name  age   salary
0  엘리스   25   50,000
1    밥   30   60,000
2   찰리   35   70,000
3  제임스   30  400,000
4  엘리스   25   50,000
5    밥   30   60,000
6   찰리   35   70,000
7  제임스   30  400,000

In [69]:
df.to_csv('modified_my_data.csv')